.modal_window{
    display: none;
    border: black 2px solid;
    flex-direction: column;
    position: absolute;
    width: 70%;
    left: 15%;
    top: 20%;
    background: white;
}
.modal_window .modal_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: black 2px solid;
}
.modal_window .modal_title div{
    margin: auto 5px;
}
.modal_window .modal_title_x{
    cursor: pointer;
}
.modal_window .modal_body{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.modal_window .modal_body textarea{
    width: 90%;
    resize: none;
    outline: none;
    margin: auto;
    display: block;
}
.modal_window .modal_body .modal_body_inp{
    margin-bottom: 10px;
}
.modal_window .modal_footer{
    display: flex;
    justify-content: center;
}

.contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
